<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th> Name Porduct</th>
        <th>Price </th>
        <th>Category</th>
        <th class="text-right">product id</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>
          {{product.nombre}}
        </td>
        <td>
          {{product.precio}}
        </td>
        <td>
          {{product.categoria}}
        </td>
        <td class="text-right">
          {{product.id}}
        </td>
      </tr>
    </table>
  </div>